.gris {background-color: #F2F2F2;}
.ciel {background-color: #DEEBFF;}
.bleu {background-color: #0065FC;}

h1 {
    color: #000000;
    font-weight: bold;
}

h2 {
    color: #000000;
    font-weight: bold;
}

body {
    font-family: 'Raleway', sans-serif;;
    }
